h1 {
    color:red;
    text-align:center;
    font-weight: lighter;
}
h1.title{
    letter-spacing: 5px;
    text-align:center;
}
.menu{
    text-align:center;
}
h2{
    color:black;
}
p{
    text-align:justify;
}
img.icon{
    vertical-align: bottom;
}
form{
    margin-bottom: 5px;
    text-decoration: underline wavy plum uppercase;
    font-weight: 100;
}