h1 {
    color:red;
    text-align:center;
    font-weight: lighter;
}
h2{
    color:black;
}
p{
    text-align:justify;
}
input[type="search"]{
    position:relative;
    top:50%;
    right:0;
    left:0;
}